DATABASE_URL=""
SECRET_KEY=""
EMAIL_USER=""
PASSWORD_EMAIL=""
EMAIL_PASSWORD=""
API_PASSWORD=""
EMAIL_SLEEP=""
AUTH_URL=""
REQUEST_URL=""
GOOGLE_CLIENT_ID="1"
NODE_ENV=""
API_URL=""
AUTHORIZED_EMAILS=""
HUGGINGFACE_API_KEY=""






POSTGRES_URL="postgres://default:6ASEw4PQMkuy@ep-sparkling-tooth-a4wvuzme-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:6ASEw4PQMkuy@ep-sparkling-tooth-a4wvuzme-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:6ASEw4PQMkuy@ep-sparkling-tooth-a4wvuzme-pooler.us-east-1.aws.neon.tech:5432/verceldbati"
POSTGRES_URL_NON_POOLING="postgres://default:6ASEw4PQMkuy@ep-sparkling-tooth-a4wvuzme.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-sparkling-tooth-a4wvuzme-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="6ASEw4PQMkuy"
POSTGRES_DATABASE="verceldb"